@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Fondo del sitio y sin desbordes horizontales (evita la franja clara) */
html, body {
  background: #2a0000;   /* mismo color base de tu sitio */
  overflow-x: hidden;    /* quita “empujes” laterales */
}

/* OCULTAR SCROLLBAR pero mantener scroll */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

/* Firefox */
* {
  scrollbar-width: none !important;
}
